<!DOCTYPE html>
<html>
<head>
  <title>PerfectRorEvents</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'AwesomeEvents', root_path, class: 'navbar-brand' %>
        <%= link_to 'イベント作成', new_event_path %>
        <% if logged_in? %>
        <%= link_to 'ログアウト', logout_path %>
        <% else %>
        <%= link_to 'Twitter', '/auth/twitter' %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="container">
    <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
